$color-light-blue: #00AFDB;
$color-dark-blue: #009CC2;
$color-light: #FFFFFF;
$color-light-s: #F5F6F7;
$color-light-m: #C4C4C4;
$color-dark-xs: #818181;
$color-dark-s: #4E4E4E;
$color-dark-l: #373737;
$color-dark: #000000;

body {
    width: 1600px;
    background-color: $color-light;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

@mixin menu {
    font-size: 1.4rem;
    line-height: 2rem;    
    color: $color-light;
}
@mixin tagline {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.4rem; 
    letter-spacing: 0.45rem;   
    text-transform: uppercase;
    color: $color-light;
}
@mixin header-paragraph {
    font-size: 1.8rem;
    line-height: 2.5rem; 
    text-align: center;
    margin-top: 2.2rem;
    margin-bottom: 2.85rem;
    margin-left: -4px;
    color: $color-light;
}
@mixin button {
    width: 18.4rem;
    padding: 1.5rem 0;
    border: none;
    background: $color-light-blue;
}
@mixin text-button {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem; 
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
}
@mixin h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem; 
    letter-spacing: 0.1rem;   
    text-transform: uppercase;
    color: $color-dark-l;
}
@mixin text-article {
    font-size: 1.4rem;
    line-height: 2rem; 
    color: $color-dark-s;
}
@mixin h3 {
    font-size: 1.6rem;
    line-height: 2rem; 
    letter-spacing: 0.25rem;   
    text-transform: uppercase;
    color: $color-dark-l;
}

.header {
    width: 100%;
    padding-bottom: 9rem;
    background-image: url(../assets/images/bg-image.svg);
}
.nav-wrapper {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.header-menu {
    width: 37%;
    margin: 0 auto;
    ul {
        @include menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: $color-light;
        }
    }
}
.header-info {
    width: 73.3735rem;
    margin: 13.5rem 43.5rem 18.3rem 43.5rem;
    h1 {
        @include tagline;
    }
    p {
        @include header-paragraph;
    }
    button {
        @include button;
        @include text-button;
        margin-left: 37.2%;
    }
}
.header-icon {
    width: 17rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rappresent {
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 14rem;
    &-wrapper {
        width: 66.375%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-info {
        width: 38.4%;
        h2 {
            @include h2;
        }
        p {
            @include text-article;
            margin-top: 2.2rem;
            margin-bottom: 2.9rem;
            span {
                font-weight: bold;
            }
        }
        button {
            @include button;
            @include text-button;
        }
    }
}

.our-community {
    width: 100%;
    background-color: $color-light-s;
    padding-top: 8.2rem;
    padding-bottom: 14rem;
    .switch {
        width: 8.5rem;
        margin-left: 78%;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: #373737;
        span:first-child {
            margin-right: 1rem;
        }
        span:last-child {
            margin-left: 1rem;
        }
    }
    &-wrapper {
        width: 83.1875%;
        margin-left: 16.8125%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-info {
        width: 22.39%;
        text-align: center;
        h3 {
            @include h3;
            margin-top: 2rem;
            margin-left: 0.2rem;
            margin-bottom: 1rem;
        }
        p {
            @include text-article;
        }
    }
    &-img {
        width: 67.17%;
        display: flex;
        justify-content: space-between;
    }
}

.implement {
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 14rem;
    padding-left: 26.9rem;
    background-color: $color-light;
    &-wrapper {
        width: 59.5625%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-info {
        width: 42.71%;
        h2 {
            @include h2;
        }
        p {
            @include text-article;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        button {
            @include button;
            @include text-button;
        }
    }
}