body {
  width: 1600px;
  background-color: #FFFFFF;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.header {
  width: 100%;
  padding-bottom: 9rem;
  background-image: url(../assets/images/bg-image.svg);
}

.nav-wrapper {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header-menu {
  width: 37%;
  margin: 0 auto;
}
.header-menu ul {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-menu ul a {
  text-decoration: none;
  color: #FFFFFF;
}

.header-info {
  width: 73.3735rem;
  margin: 13.5rem 43.5rem 18.3rem 43.5rem;
}
.header-info h1 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.4rem;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-info p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 2.85rem;
  margin-left: -4px;
  color: #FFFFFF;
}
.header-info button {
  width: 18.4rem;
  padding: 1.5rem 0;
  border: none;
  background: #00AFDB;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 37.2%;
}

.header-icon {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.rappresent {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 14rem;
}
.rappresent-wrapper {
  width: 66.375%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rappresent-info {
  width: 38.4%;
}
.rappresent-info h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #373737;
}
.rappresent-info p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4E4E4E;
  margin-top: 2.2rem;
  margin-bottom: 2.9rem;
}
.rappresent-info p span {
  font-weight: bold;
}
.rappresent-info button {
  width: 18.4rem;
  padding: 1.5rem 0;
  border: none;
  background: #00AFDB;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our-community {
  width: 100%;
  background-color: #F5F6F7;
  padding-top: 8.2rem;
  padding-bottom: 14rem;
}
.our-community .switch {
  width: 8.5rem;
  margin-left: 78%;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #373737;
}
.our-community .switch span:first-child {
  margin-right: 1rem;
}
.our-community .switch span:last-child {
  margin-left: 1rem;
}
.our-community-wrapper {
  width: 83.1875%;
  margin-left: 16.8125%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-community-info {
  width: 22.39%;
  text-align: center;
}
.our-community-info h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #373737;
  margin-top: 2rem;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}
.our-community-info p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4E4E4E;
}
.our-community-img {
  width: 67.17%;
  display: flex;
  justify-content: space-between;
}

.implement {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 14rem;
  background-color: #FFFFFF;
}
.implement-wrapper {
  width: 59.5625%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.implement-info {
  width: 42.71%;
}
.implement-info h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #373737;
}
.implement-info p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4E4E4E;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.implement-info button {
  width: 18.4rem;
  padding: 1.5rem 0;
  border: none;
  background: #00AFDB;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-up {
  width: 100%;
  background: url(../assets/images/sign-up-bg.svg);
  padding-top: 20rem;
  padding-bottom: 21.95rem;
}
.sign-up-wrapper {
  width: 40.6rem;
  margin: 0 auto;
}
.sign-up h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  margin-top: -0.1rem;
  margin-bottom: 3rem;
  color: #FFFFFF;
}
.sign-up input {
  width: 31.6rem;
  padding: 1.3rem 0 1.3rem 2.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border: none;
  float: left;
  color: #373737;
  background: #FFFFFF;
}
.sign-up button {
  width: 6.6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.6rem;
  background: #00AFDB;
  border: none;
}

.download {
  width: 100%;
  background-color: #F5F6F7;
  padding-top: 12rem;
  padding-bottom: 18rem;
}
.download-wrapper {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
.download-wrapper h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #373737;
  line-height: 2.8rem;
  margin-left: 0.1rem;
}
.download-wrapper p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4E4E4E;
  margin-top: 2rem;
  margin-bottom: 2.8rem;
  line-height: 2.1rem;
}
.download-wrapper-button {
  width: 83.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.download-wrapper-button button {
  width: 18.4rem;
  padding: 1.5rem 0;
  border: none;
  background: #00AFDB;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 18.6rem;
}
