* {
	box-sizing: border-box;
}
body {
	background-color: #c44c5a;
	font-family: 'Montserrat', sans-serif;
}
.box {
	width: 1200px;
	height: 550px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container {
	width: 1060px;
	height: 500px;
	margin: 0 70px 50px 70px;
	background-color: blue;
}
.shapka {
	width: 100%;
	height: 70px;
	background-color: #fff;
}
.shapka img {
	width: 10%;
	margin-top: 23px;
	float: left;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	margin-left: 140px;
	padding-top: 50px;
	float: left;
}
li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	margin-left: 40px;
}
.shapka button {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	border: none;
	width: 170px;
	height: 40px;
	border-radius: 18px;
	margin-top: 30px;
	margin-left: 162px;
}
.text {
	width: 530px;
	height: 430px;
	background-color: #fff;
	float: left;
}
.containerBox {
	width: 480px;
	height: 330px;
	margin-top: 50px;
	margin-left: 60px;
}
.containerBox h1 {
	font-family: 'Times new Roman';
	font-size: 45px;
	line-height: 50px;
}
.containerBox p {
	color: 939393;
	font-size: 15px;
	margin-top: 50px;
	line-height: 25px;
	word-spacing: 7px;
}
.containerBox h5 {
	color: #c44d5a;
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
}
.buttonFirst {
	margin-top: 25px;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: none;
	color: #c44d5a;
	background-color: #fff;
	border: 2px solid #c0c0c0;
	width: 170px;
	height: 30px;
	border-radius: 30px;
}
.buttonSecond {
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: none;
	color: #c44d5a;
	background-color: #fff;
	border: 2px solid #c0c0c0;
	width: 90px;
	height: 30px;
	border-radius: 30px;
	margin-left: 10px;
}
.buttonThird {
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: none;
	color: #fff;
	background-color: #c44d5a;
	width: 120px;
	height: 30px;
	border-radius: 30px;
	border-color: #c44d5a;
	margin-left: 10px;
}
.picture {
	width: 530px;
	height: 430px;
	float: left;
}
.picture img {
	width: 100%;
}
